.gota-maior {
  position: relative;
  right: -42vw;
  opacity: 0.5;
  width: 35%;
  margin-top: 10vh;
}
.gota-1 {
  position: relative;
  right: -2vw;
  opacity: 0.5;
  width: 10%;
  margin-top: 0vh;
  transform: rotate(-45deg);
}

.gota-2 {
  position: relative;
  right: 15vw;
  opacity: 0.5;
  width: 10%;
  margin-top: 80vh;
  transform: rotate(20deg);
}
.gota-3 {
  position: relative;
  right: 15vw;
  opacity: 0.5;
  width: 5%;
  margin-top: -80vh;
  transform: rotate(80deg);
}
.gota-maior-cadastrar {
  position: relative;
  right: -32.5vw;
  opacity: 0.5;
  width: 35%;
  margin-top: 10vh;
}
.gota-1-cadastrar {
  position: relative;
  right: 37vw;
  opacity: 0.5;
  width: 10%;
  margin-top: 0vh;
  transform: rotate(-45deg);
}

.gota-2-cadastrar {
  position: relative;
  right: 38vw;
  opacity: 0.5;
  width: 5%;
  margin-top: 80vh;
  transform: rotate(20deg);
}
.gota-3-cadastrar {
  position: relative;
  right: 28vw;
  opacity: 0.5;
  width: 5%;
  margin-top: -80vh;
  transform: rotate(80deg);
}
.cadastro > #Estados {
  font-weight: bold;
}
.cadastro > #Estados > .col {
  margin-top: 1.5rem;
}
.circle {
  background: #dc050a;
  border-radius: 50%;
  color: #fff;
  height: 40px;
  position: relative;
  width: 45px;
}

.circle-content {
  hyphens: auto;
  margin: 0.6em 0rem;
  text-align: center;
}

.form-container > div {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: auto;
  min-height: 900px;
  text-align: left;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.overlay-container {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #5c5c5c;
  background: -webkit-linear-gradient(to right, #646464, #000000);
  background: linear-gradient(to right, #ffa0a2, #e07e80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 10px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.field-horario > .col > div {
  justify-content: center;
}
@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@media screen and (max-width: 700px) {
  #CadastroUsuario > .left-cadastro,
  #CadastroHemocentro > .left-cadastro {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #CadastroCampanha > .container > .row {
    display: block !important;
  }
  #CadastroCampanha > .container > .row > .col {
    margin-top: 1rem;
  }

  #CadastroCampanha > .container > .row > .col > .d-flex {
    justify-content: center;
  }
}

@media screen and (max-width: 574px) {
  .overlay-container {
    position: relative;
    top: 0%;
    left: 0% !important;
    width: 100%;
    height: 100%;
  }
  #Cadastro {
    max-height: 50vh;
  }
  #Cadastro > .container {
    padding: 0;
  }
  .overlay-panel {
    height: 100%;
  }
  .overlay > .gota-2-cadastrar {
    margin-top: 15vh;
  }
  .overlay-right > img, .overlay-left > img {
    width: 50%;
  }
  .overlay > .gota-maior-cadastrar,
  .overlay > .gota-1-cadastrar,
  .overlay > .gota-3-cadastrar {
    display: none;
  }
  .container.right-panel-active .sign-up-container {
    transform: none;
  }
  .sign-in-container,
  .sign-up-container {
    width: 100%;
    margin-top: 45vw;
  }
  .container.right-panel-active .overlay-left {
    transform: translateX(0%);
  }
  .container.right-panel-active .overlay-container {
    transform: none;
}  
}
