.gota-maior {
  position: relative;
  right: -42vw;
  opacity: 0.5;
  width: 35%;
  margin-top: 10vh;
}
.gota-1 {
  position: relative;
  right: -2vw;
  opacity: 0.5;
  width: 10%;
  margin-top: 0vh;
  transform: rotate(-45deg);
}

.gota-2 {
  position: relative;
  right: 15vw;
  opacity: 0.5;
  width: 10%;
  margin-top: 80vh;
  transform: rotate(20deg);
}
.gota-3 {
  position: relative;
  right: 15vw;
  opacity: 0.5;
  width: 5%;
  margin-top: -80vh;
  transform: rotate(80deg);
}
.cadastro > #Estados {
  font-weight: bold;
}
.cadastro > #Estados > .col {
  margin-top: 1.5rem;
}
.circle {
  background: #dc050a;
  border-radius: 50%;
  color: #fff;
  height: 40px;
  position: relative;
  width: 45px;
}

.circle-content {
  hyphens: auto;
  margin: 0.6em 0rem;
  text-align: center;
}

@media screen and (max-width: 700px) {
  #CadastroUsuario > .left-cadastro, #CadastroHemocentro > .left-cadastro{
    display: none;
  }
}


@media screen and (max-width: 600px) {
  #CadastroCampanha >.container > .row{
    display: block !important; 
  }
  #CadastroCampanha >.container > .row > .col{
    margin-top: 1rem;
  }

  #CadastroCampanha >.container > .row > .col > .d-flex{
    justify-content: center;
  }
}