.gota-superior {
  position: absolute;
  left: -8vw;
  opacity: 0.5;
  width: 15%;
  margin-top: 0px;
  z-index: -1;
}
.gota-inferior {
  position: absolute;
  right: 0vw;
  opacity: 0.5;
  width: 5%;
  margin-top: 15vh;
}
.img-ilustracao {
  width: 400px;
}
.linha-horizontal {
  width: auto;
  border-top: 0.3px solid rgb(226, 226, 226);
}
.campanhas > div > .col {
  display: flex;
}
.campanhas > div {
  display: contents;
}
.campanhas > div > .col > select {
  width: 80%;
}
@media screen and (max-width: 1000px) {
  .img-ilustracao {
    width: 25vw;
  }
  .gota-superior {
    display: none;
  }
  .gota-inferior {
    display: none;
  }
}

@media screen and (max-width: 778px) {
  .img-ilustracao {
    display: none;
  }
  .campanhas{
    display: contents !important;
  }
  .campanhas > #Estados > .col{
    margin-top: 1rem;
  }
}

